html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

span.css-h85r5n, span.css-t4q1nq {
  color: #ef483e;
}

.resource-link a:hover {
  color: #ef483e;
}

.btn {
 background-color: #ef483e;
 width: 200px;
 padding:10px 0;
 font-size: 30px;
 margin-top: 5px;
}

input, textarea {
  border: 2px solid #ef483e;
  color: #000;
}

input::placeholder {
  font-size: 20px;
  text-indent: 15px;
  top: 6px;
  position: absolute;
}
textarea::placeholder{
  font-size: 20px;
  text-indent: 15px;
  padding-top: 10px;
}

.image-profile img {
  margin: auto;
  border-radius: 50%;
}

.team-profile strong {
  color: #00629b;
}
.bold-text strong{
  color: #0072b8;
}

.tablist button {
  min-height: 55px;
}