.css-1nlrkd1:nth-child(even) .css-esoram {
  background-color: #e5e1dd;
}

.css-1nlrkd1:nth-child(odd) .css-esoram {
  background-color: #fff;
}

.css-1nlrkd1 .css-fwv0bl:last-child .css-bux8qp {
  display: none;
}

.SmallerHeight {
  height: 265px;
}
